.breadcrumbs__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.breadcrumbs__item {
  position: relative;
  padding-right: 30px;
  list-style: none;
  &::after {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 9px;
    height: 9px;
    margin: auto;
    content: '';
    border: 1px solid #7476a8;
    border-radius: 50%;
  }
  &:last-child {
    padding-right: 0;
    &::after {
      display: none;
    }
    .breadcrumbs__link {
      text-decoration: none;
      pointer-events: none;
    }
  }
}

.breadcrumbs__link {
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
  text-decoration: underline;
  color: #434978;
  &:hover {
    text-decoration: none;
  }
}
