.popup__layer {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  opacity: .5;
  background-color: #454b7a;
}

.popup {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  display: none;
  overflow: auto;
  width: 92%;
  max-width: 800px;
  max-height: 96vh;
  padding: 30px 32px 20px 32px;
  transform: translate(-50%, -50%);
  border-radius: $radius;
  background-color: #fff;
  box-shadow: 0 8px 20px rgba(47, 49, 80, .26);
}

.popup__close {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform .5s;
  border-radius: 50%;
  background-color: #7476a8;

  will-change: transform;
  &:hover {
    transform: rotate(360deg);
  }
  svg {
    fill: #fff;
    width: 8px;
    height: 8px;
  }
}

.work-popup {
  @include max(910) {
    max-width: 650px;
  }
}

.work-popup__body {
  display: flex;
  align-items: flex-start;

  @include max(767) {
    flex-direction: column;
    align-items: center;
  }
}

.work-popup__slider {
  flex: none;
  width: 320px;
  margin-right: 60px;

  @include max(910) {
    margin-right: 30px;
  }
  @include max(767) {
    margin-right: 0;
    margin-bottom: 20px;
  }
  @include max(425) {
    width: 240px;
  }
  .slick-prev,
  .slick-next {
    transform: translate(0, -50%) scale(.7);
  }
}

.work-popup__slide {
  overflow: hidden;
  border-radius: $radius;
  img {
    display: block;
    width: 100%;
  }
}

.work-popup__info {
  width: 100%;
  p {
    font-size: 13px;
    line-height: 19px;
    color: #272727;
  }
}

.work-popup__title {
  font-family: $font-b;
  font-size: 24px;
  line-height: 22px;
  margin-bottom: 20px;
  color: #272727;
}

.work-popup__whoes {
  font-family: $font-b;
  font-size: 16px;
  line-height: 22px;
  display: block;
  margin-top: 20px;
  margin-bottom: 15px;
  color: #434978;
}

.work-popup__doc {
  display: flex;
  align-items: center;
}

.work-popup__doc-ava {
  overflow: hidden;
  flex: none;
  width: 75px;
  height: 75px;
  margin-right: 10px;
  border-radius: 50%;
  img {
    display: block;
    width: 100%;
  }
}

.work-popup__doc-name {
  font-family: $font-b;
  font-size: 14px;
  line-height: 19px;
  color: #272727;
}
