.popup__layer {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  opacity: .5;
  background-color: #454b7a;
}

.popup {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  display: none;
  overflow: auto;
  width: 92%;
  max-width: 485px;
  max-height: 96vh;
  padding: 30px 32px 20px 32px;
  transform: translate(-50.1%, -50%);
  text-align: center;
  border-radius: $radius;
  background-color: #fcf9fd;
  box-shadow: 0 8px 20px rgba(47, 49, 80, .26);

  .btn {
    width: 160px;
    margin-top: 10px;
  }
}

.popup__close {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform .5s;
  border-radius: 50%;
  background-color: #7476a8;

  will-change: transform;
  &:hover {
    transform: rotate(360deg);
  }
  svg {
    fill: #fff;
    width: 8px;
    height: 8px;
  }
}

.popup__title {
  font-family: $font-b;
  font-size: 24px;
  margin-bottom: 25px;
  color: #434978;
}

.popup__text {
  span {
    font-size: 15px;
    line-height: 24px;
    display: block;
    margin-bottom: 15px;
    color: #3d3d3d;
  }
}

.popup__form {
  margin-bottom: 5px;
}
.popup__input {
  font-size: 15px;
  line-height: 30px;
  width: 100%;
  height: 32px;
  margin-bottom: 15px;
  padding: 0 17px;
  color: #3d3d3d;
  border: 1px solid #434978;
  border-radius: 15px !important;
  background-color: #fcf9fd;

  @include placeholder-color(#3d3d3d);
}
