.services-sec {
  position: relative;
  z-index: 2;
  padding-top: 50px;
  padding-bottom: 40px;
}

.services-sec__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 40px;
}

.services-sec__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  transition: transform .5s;
  @include max(910) {
    width: 33.33%;
  }
  @include max(600) {
    width: 50%;
  }

  &:hover {
    z-index: 2;
    transform: translateY(-40px);
    .services-sec__icon {
      border-color: #454b7a;
    }
    .services-sec__card {
      transition: opacity .5s, box-shadow 1s;
      pointer-events: auto;
      opacity: 1;
      box-shadow: 0 8px 10px rgba(47, 49, 80, .27);
    }
    .services-sec__card-title-wrap::before {
      transition: opacity .5s, box-shadow 1s;
      pointer-events: auto;
      opacity: 1;
      box-shadow: 0 8px 10px rgba(47, 49, 80, .27);
    }
  }
}

.services-sec__icon {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 129px;
  height: 129px;
  margin-bottom: 3px;
  transition: border-color .5s;
  border: 3px solid #7476a8;
  border-radius: 50%;
  background-color: #f6f6f9;
  background-image: radial-gradient(circle 61px at center, rgba(255, 255, 255, .09) 0%, rgba(116, 118, 168, .09) 100%);

  @include max(375) {
    width: 100px;
    height: 100px;
  }
  img {
    display: block;
    max-width: 45px;
    max-height: 45px;
  }
}

.services-sec__card-title-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  max-width: 230px;
  padding: 5px 20px 20px 20px;
  &::before {
    position: absolute;
    top: -70px;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    transition: opacity .5s, box-shadow .2s;
    opacity: 0;
    border-radius: $radius $radius 0 0;
    background-color: #f5f5fa;
    box-shadow: 0 8px 10px rgba(255, 255, 255, 0);
  }
}

.services-sec__card-title {
  font-family: $font-m;
  font-size: 17px;
  position: relative;
  z-index: 1;
  margin-bottom: 0;
  text-align: center;
  color: #252525;

  @include max(375) {
    font-size: 15px;
  }
}

.services-sec__card {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-bottom: 25px;
  transition: opacity .5s;
  pointer-events: none;
  opacity: 0;
  border-radius: 0 0 $radius $radius;
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    transition: opacity .5s, box-shadow .2s;
    pointer-events: none;
    border-radius: 0 0 $radius $radius;
    background-color: #f5f5fa;
    box-shadow: 0 8px 10px rgba(255, 255, 255, 0);
  }
}

.services-sec__card-list {
  margin: 0;
  padding: 0;
}

.services-sec__card-item {
  position: relative;
  margin-bottom: 17px;
  padding: 0 0 0 15px;
  list-style: none;
  &::before {
    position: absolute;
    top: 8px;
    left: 0;
    width: 5px;
    height: 5px;
    content: '';
    border-radius: 50%;
    background-color: #864c84;
  }
}

.services-sec__card-link {
  font-size: 15px;
  font-weight: 400;
  transition: color .5s;
  text-decoration: underline;
  color: #444;

  @include max(375) {
    font-size: 12px;
  }
  &:hover {
    color: #7476a8;
  }
}
