.slider {
  position: relative;
  z-index: 1;
  &.slick-dotted.slick-slider {
    margin-bottom: 0;
  }
  .slick-dots {
    bottom: 12px;
    li {
      width: 14px;
      height: 14px;
      margin: 0 10px;
      transition: background-color .5s;
      border-radius: 50%;
      background-color: #fff;
      &:hover,
      &.slick-active {
        background-color: #7476a8;
      }
    }
  }
}

.slide {
  position: relative;
  transition: .5s opacity .5s !important;
  .container {
    display: flex;
    min-height: 320px;

    @include max(600) {
      min-height: -0;
    }
  }
}

.slide-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300vw;
  background-repeat: repeat-x;
  background-position: 0 50%;
}

.slide--right {
  .container {
    flex-direction: row-reverse;
  }
  .slide__info {
    text-align: right;

    @include max(600) {
      text-align: center;
    }
  }
}

.slide__img {
  display: flex;
  align-items: flex-end;
  width: 50%;
  transition: .5s transform .5s cubic-bezier(.10, .10, .06, 1), opacity .3s;
  opacity: 0;

  @include max(910) {
    width: 40%;
  }
  @include max(600) {
    display: none;
  }

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}

.slide__info {
  width: 50%;
  padding: 33px 0 50px 0;
  transition: transform .65s cubic-bezier(.68, -.55, .265, 1.55) .5s, opacity .3s;
  transform: translateY(100%);
  opacity: 0;

  @include max(910) {
    width: 60%;
  }
  @include max(600) {
    width: 100%;
    text-align: center;
  }
}

.slide__subtitle {
  font-family: $font-b;
  font-size: 30px;
  margin-bottom: 8px;
  color: #fff;

  @include max(600) {
    font-size: 24px;
  }
  @include max(425) {
    font-size: 22px;
  }
}

.slide__title {
  font-family: $font-b;
  font-size: 36px;
  margin-bottom: 12px;
  text-transform: uppercase;
  color: #fff;

  @include max(600) {
    font-size: 30px;
  }
  @include max(425) {
    font-size: 26px;
  }
}

.slide__text {
  font-size: 21px;
  line-height: 24px;
  margin-bottom: 15px;
  color: #fff;

  @include max(600) {
    font-size: 18px;
  }
  @include max(425) {
    font-size: 16px;
  }
}

.slide__link {
  font-size: 18px;
  display: block;
  text-decoration: underline;
  color: #fff;
}

//begin slide animation
//bg
.slide {
  .slide-bg {
    transition: transform 1s ease;
    transform: translateX(-200vw);
  }
  &.slick-active {
    .slide-bg {
      transform: translateX(0);
    }
  }
}

//img
.slide {
  &.slick-active {
    .slide__img {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.slide--right {
  .slide__img {
    transform: translateX(50vw);
  }
}

.slide--left {
  .slide__img {
    transform: translateX(-50vw);
  }
}

//text
.slide {
  &.slick-active {
    .slide__info {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

//end slide animation
