//begin about-sec
.about-sec
  .container
    h2.section-title О клинике
    //begin about-sec__inn
    .about-sec__inn
      //begin about-sec__left
      .about-sec__left
        p В современном мире огромное количество профессий и областей реализации человека! Живя в мегаполисе, на каждом углу встречаешь ту или иную услугу, массу предложений , которые просто убеждают тебя воспользоваться всем этим ! К сожалению, здесь количество не всегда означает качество, так как здесь более значимый аспект это тот, что определяет почему люди оказывающие какие-либо услуги этим занимаются? Любят ли они свое дело? Доставляет ли им их занятость радость и удовлетворение?
        p Приятно говорить об этом, но в стоматологической клинике “Этна Дент” работают специалисты любящие свой выбор  быть стоматологом! Мы любим нашу деятельность и заботимся о каждом клиенте!
        .about-sec__footer
          a(href="#").about-sec__footer-link
            +svg('info')
            span Больше о клинике
          a(href="#").about-sec__footer-link
            +svg('dentist')
            span Наши врачи
          a(href="#").about-sec__footer-link.about-sec__footer-link--image
            +svg('image')
            span Галерея
      //end about-sec__left
      //begin about-sec__right
      .about-sec__right
        .about-sec__pic
          img(src="assets/img/about-sec.jpg" alt="picture")
      //end about-sec__right
    //end about-sec__inn
//end about-sec