//begin advantage
.advantage
  .container
    h2.section-title Преимущества
    //begin advantage__list
    .advantage__list
      //begin advantage__item
      .advantage__item
        .advantage__icon.advantage__icon--marker
          +svg('marker')
        .advantage__info
          h3.advantage__title Удобное расположение
          span.advantage__text
            |Две клиники в г.Колпино.
            br
            |Клиники находится в удобном месте,
            br
            |рядом с Вами, имеется парковка.

      //end advantage__item

      //begin advantage__item
      .advantage__item
        .advantage__icon.advantage__icon--doc
          +svg('doc')
        .advantage__info
          h3.advantage__title Опытные врачи
          span.advantage__text
            |Большой опыт работы наших врачей
            br
            |позволит Вам чувствовать себя уверено
            br
            |и расслабленно
      //end advantage__item

      //begin advantage__item
      .advantage__item
        .advantage__icon.advantage__icon--pig
          +svg('pig')
        .advantage__info
          h3.advantage__title Доступные цены
          span.advantage__text
            |Мы не выдумываем несуществующих
            br
            |проблем и не завышаем цены
            br
            |искусственно!
      //end advantage__item
    //end advantage__list
    a(href="#").advantage__more
      span.advantage__more-text Узнайте больше о преимуществах лечения у нас!
      .advantage__more-arrow
//end advantage
