//begin doctor-about
.doctor-about
  .container
    //begin doctor-about__ava
    .doctor-about__ava
      img(src="assets/img/doctor-about.jpg" alt="picture")
    //end doctor-about__ava

    //begin doctor-about__info
    .doctor-about__info
      h2.doctor-about__name Шурховецкий Иван Викторович
      h3.doctor-about__subtitle Врач стоматолог, ортопед, терапевт, хирург
      p В современном мире огромное количество профессий и областей реализации человека! Живя в мегаполисе, на каждом углу встречаешь ту или иную услугу, массу предложений , которые просто убеждают тебя воспользоваться всем этим ! К сожалению, здесь количество не всегда означает качество, так как здесь более значимый аспект это тот, что определяет почему люди оказывающие какие-либо услуги этим занимаются?
      h3.doctor-about__subtitle Образование
      p СПбГМУ имени Академика И.П. Павлова 2005 г. по специализации: стоматология
      h3.doctor-about__subtitle Дополнительное образование
      ul.doctor-about__list
        li Интернатура: СПбГМУ имени Академика И.П. Павлова 2006г. Специализация: стоматология
        li 2006 Сертификат «Стоматология»
        li 2007г Сертификат «Стоматология ортопедическая»
        li 2017г. Сертификат «Стоматология ортопедическая»
        li 2017г. Удостоверение «Стоматология ортопедическая»
        li 2018г. Удостоверение «Протезирование при полной потере зубов»
    //end doctor-about__info
//end doctor-about