//begin service-form
.service-form
  .container
    form.service-form__wrap
      //begin form-01
      .form.form-01#form-01
        .form__text
          h2.form__title-lg
            | Пройдите опрос, и получите
            br
            | предварительное лечение 1 зуба
            br
            span  в подарок!
          button.btn.btn-light.start-form
            span Начать
      //end form-01

      //begin form-02
      .form.form-02#form-02
        .form__text
          h2.form__title Что для вас более важно?

          .form__radio-list
            label.form__radio-label
              input(type="radio" name='form-2' checked)
              span.form__radio-text Восстановление красивой улыбки
            label.form__radio-label
              input(type="radio" name='form-2')
              span.form__radio-text Вернуть возможность комфортно кушать любую пищу
            label.form__radio-label
              input(type="radio" name='form-2')
              span.form__radio-text И то и другое одинаково

          button.btn.btn-light
            span Продолжить


      //end form-02

//end service-form