.popup__layer#popup__layer

//begin popup
.popup#popup-01
  .popup__close
    +svg('close')
  h3.popup__title Записали вас на прием!
  .popup__text
    span
      |Ждем Вас
      =' '
      strong 29.07.2019
      =' '
      |в
      =' '
      strong 12:00
      br
      |в клинике по адресу
      =' '
      strong Онежская ул. д.1
    span Мы свяжемся с вами, чтобы подтвердить запись.
  button.btn
    span Хорошо
//end popup

//begin popup
.popup#popup-02
  .popup__close
    +svg('close')
  h3.popup__title Благодарим за обращение!
  .popup__text
    span Мы свяжемся с вами в течение пяти минут!
  button.btn.btn-close
    span Хорошо
//end popup

//begin popup
.popup.popup-03#popup-03
  .popup__close
    +svg('close')
  h3.popup__title Записаться на прием
  form.popup__form
    input.popup__input(placeholder='Ваше имя')
    input.popup__input.phone-mask(placeholder="+7(___)___-__-__")
  .btn.open-popup-02
    input(type="submit")
    span Записаться
//end popup
