*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font;
  font-size: 15px;
  line-height: 1.4;
  color: $text;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-b;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  strong {
    font-family: $font-m;
  }
}

a {
  transition: color .5s;
  color: $highlight;
  &:hover {
    text-decoration: none;
  }
}

ol,
ul {
  li {
    padding: 3px 0;
  }
}

ul {
  li {
    // путь к кастомной картинке пункта ul
    // list-style-image: url('../img/ul.png');
  }
}

//кастомные пункты списка с цифрами
ol {
  // list-style: none;
  // @include counter(li);
  li::before {
    // color: $brand;
  }
}

input,
textarea,
select,
button {
  border-radius: 0 !important;
  outline: none;
}

input {
  padding: 3px 10px 5px 10px;
  color: $text;
  border: 1px solid $text;
  &::placeholder {
    @include placeholder-color($text);
  }
}

textarea {
  resize: none;
}

input.error,
textarea.error {
  border-color: #ed1b24 !important;
  background: #fbd1d3 !important;
}

svg {
  display: block;
  overflow: visible;
}

// подсвечиваем картинки без alt и без заполненного alt
img[alt=''],
img:not([alt]) {
  outline: 5px solid tomato;
}

// исключение для google-map и fancybox
.fancybox-container img[alt=''],
.fancybox-container img:not([alt]),
.gm-style img[alt=''],
.gm-style img:not([alt]) {
  outline: none !important;
}

// тревога, если первый child внутри списка не li и прочие похожие примеры
ul > *:not(li),
ol > *:not(li) {
  outline: 5px solid tomato;
}

//изменяем цвет выделения текста мышью
::selection {
  color: #fff;
  background-color: $brand;
  text-shadow: none;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  background-color: #fff;
  //свойство для плавной прокрутки на яблоках

  -webkit-overflow-scrolling: touch;

  &.no-scroll {
    overflow: hidden;
  }
}

.main {
  flex-grow: 1;

  @include max(1020) {
    padding-top: 52px;
  }
  @include max(910) {
    padding-bottom: 38px;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;

  @include max(425) {
    padding: 0 10px;
  }
}

.btn {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 15px;
  line-height: 36px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 40px;
  padding: 0 20px;
  cursor: pointer;
  transition: .5s;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: 2px solid #87b365;
  border-radius: 20px !important;
  background-color: #87b365;

  input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
  }
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: '';
    background-color: #87b365;
  }

  &:after {
    position: absolute;
    z-index: 1;
    right: -15%;
    bottom: 0;
    left: auto;
    width: 0;
    height: 100%;
    content: '';
    transition: .5s;
    transform: skewX(25deg);
    background-color: #8fc863;
  }
  &:hover {
    cursor: pointer;
    text-decoration: none;
    border-color: #8fc863;
    &:after {
      left: -25%;
      width: 135%;
      transition: .5s;
      transform: skewX(25deg);
    }
  }
  span,
  svg {
    position: relative;
    z-index: 2;
    white-space: nowrap;
  }
}

.section-title {
  font-family: $font-b;
  font-size: 36px;
  margin-bottom: 15px;
  text-align: center;
  color: #2f3150;
}
