@font-face {
  font-family: Roundedmplus1c;
  src:  url('../fonts/Roundedmplus1c.woff2') format('woff2'),
        url('../fonts/Roundedmplus1c.woff')  format('woff');
}

@font-face {
  font-family: Roundedmplus1cbold;
  src:  url('../fonts/Roundedmplus1cbold.woff2') format('woff2'),
        url('../fonts/Roundedmplus1cbold.woff')  format('woff');
}

@font-face {
  font-family: Roundedmplus1cmedium;
  src:  url('../fonts/Roundedmplus1cmedium.woff2') format('woff2'),
        url('../fonts/Roundedmplus1cmedium.woff')  format('woff');
}
