// ***** main colors *******
$brand: #2f3150;

$highlight: #7476a8;

$color-01-old: #87b365;
$highlight-g: #70b460;

$color-02-old: #434978;
$color-02: #3e477a;

  // ***** text colors *******
$text: #3d3d3d;

// ===== fonts =====
$font: Roundedmplus1c, sans-serif;
$font-b: Roundedmplus1cbold, sans-serif;
$font-m: Roundedmplus1cmedium, sans-serif;

// ===== radius =====
$radius: 12px;
