// ***** main colors *******
$brand: #2f3150;

$highlight: #7476a8;

// ***** text colors *******
$text: #3d3d3d;

// ===== fonts =====
$font: Roundedmplus1c, serif;
$font-b: Roundedmplus1cbold, serif;
$font-m: Roundedmplus1cmedium, serif;
