extends ../_template

block variables
  - var title       = 'Колпино Дент'
  - var description = 'Колпино Дент'
  - var ogtitle     = 'Колпино Дент'
  - var ogimage     = 'assets/img/social.jpg'

block content
  .main-wrap
    include ../sections/header

    //begin content
    .main.index
      include ../sections/top-slider
      include ../sections/services-sec
      include ../sections/appointment
      include ../sections/about-sec

      div(style="height:300px;")
    //end content

    include ../sections/footer
