extends ../_template

block variables
  - var title       = 'Колпино Дент'
  - var description = 'Колпино Дент'
  - var ogtitle     = 'Колпино Дент'
  - var ogimage     = 'assets/img/social.jpg'

block content
  .main-wrap.index
    include ../sections/header

    //begin content
    section.main
      include ../sections/top-slider
    //end content

    include ../sections/footer
