extends ../_template

mixin doctors__item(pic, name, surname, position)
  //begin doctors__item
  a(href="#").doctors__item
    .doctors__ava
      img(src="assets/img/team-ava-" + pic + ".jpg" alt="picture")
    h3.doctors__title
      |#{name}
      br
      |#{surname}
    h4.doctors__position #{position}
  //end doctors__item

block variables
  - var title       = 'Услуги | Колпино Дент'
  - var description = 'Услуги | Колпино Дент'
  - var ogtitle     = 'Услуги | Колпино Дент'
  - var ogimage     = 'assets/img/social.jpg'
  - var pageHeaderTitle = 'Услуги клиники "ВКолпино"'

block content
  .main-wrap
    include ../sections/header

    //begin content
    .main.services
      include ../sections/page-title
      include ../sections/services-sec-2
      include ../sections/appointment
      include ../sections/services-descr
      include ../sections/advantage
      include ../sections/team
    //end content

    include ../sections/footer
    include ../elements/popup

